/*이미지 */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial;
}

/* The grid: Four equal columns that floats next to each other */
.swiper_column {
  float: left;
  width: 25%;
  padding: 10px;
}

/* Style the images inside the grid */
.swiper_column img {
  opacity: 0.8; 
  cursor: pointer; 
   float: left;
  object-fit: cover;
}

.picture_column img:hover {
  opacity: 1;
   float: left;
   object-fit: cover;
}

/* Clear floats after the columns */
.picture_row:after {
  content: "";
  display: table;
  clear: both;
  float:left;
}

/* The expanding image container */
.picture_swiper {
  position: relative;
  display: none;
}

/* Expanding image text */
#imgtext {
  position: absolute;
  bottom: 15px;
  left: 15px;
  color: white;
  font-size: 20px;
}

/* Closable button inside the expanded image */
.closebtn {
  position: absolute;
  top: 10px;
  right: 15px;
  color: white;
  font-size: 35px;
  cursor: pointer;
}



/* Style inputs */
input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 5px;
  resize: vertical;
}

input[type="button"] {
  background: linear-gradient(45deg, #1de099, #1dc8cd);
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type="button"]:hover {
  background: linearrgb(128, 255, 255)nt(45deg, #1de099, #1dc8cd);
}

/* Style the container/contact section */
.swiper {
  border-radius: 5px;
  background-color:  #eff5f5;
  padding: 10px;
  width:100%;
}

/* Create two columns that float next to eachother   margin-top: 6px;*/
.swiper__column {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;

}

/* Clear floats after the columns */
.swiper__row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .column, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}